@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 0.38647rem;
  font-family: Arial, '微软雅黑'; }

.swiper-container .banner {
  height: 6.03865rem;
  width: 100%;
  box-sizing: border-box; }
  .swiper-container .banner img {
    width: 100%;
    height: 100%; }

.swiper-container {
  height: 6.03865rem;
  width: 100%;
  border: 1px solid red; }

.banner {
  height: 6.03865rem;
  width: 100%;
  box-sizing: border-box; }
  .banner img {
    width: 100%;
    height: 100%; }

ul {
  height: 4.34783rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.48309rem;
  color: #222; }
  ul li {
    height: 33.3%;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; }
    ul li span {
      display: flex;
      height: 50%;
      width: 24%;
      align-items: center; }
    ul li span:nth-child(1) {
      width: 18%; }
    ul li span:nth-child(2) {
      width: 57%; }
    ul li span:nth-child(3) {
      display: flex;
      justify-content: center;
      border: 1px solid #ea4c89;
      color: #ea4c89; }
  ul li:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    ul li:nth-child(1) input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none; }
  ul li:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    ul li:nth-child(2) span {
      display: flex;
      align-items: center;
      width: 18%; }
    ul li:nth-child(2) span:nth-child(2) {
      width: 57%; }
    ul li:nth-child(2) input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none; }
  ul li:nth-child(3) {
    display: flex;
    align-items: center;
    border: none; }
    ul li:nth-child(3) input {
      height: 70%;
      width: 100%;
      background: #ea4c89;
      border: none;
      border-radius: 0.72464rem;
      color: #fff; }

.sign-in {
  height: 1.93237rem;
  width: 50%;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 1.20773rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sign-in span {
    width: 50%;
    height: 0.55556rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.33816rem;
    background: #fff;
    margin-top: -0.28986rem;
    color: #999; }
  .sign-in img {
    height: 50%; }

p {
  text-align: center;
  font-size: 0.33816rem;
  color: #999;
  margin-top: 2.89855rem; }
  p span {
    color: #65d4f5; }

/*# sourceMappingURL=sass.css.map */
